$primary:  #ffc062;
$secondary: #ffd597;
.backgroundC {
    background-color: #FFF4E4;
}

.mobile-car{
    height: 250px;
    
    @media (min-width: 640px) {
        height: 350px;
    }
    @media (min-width: 1000px) {
        height: 550px;

    }
}

.font{
    font-family: 'Poppins', sans-serif;
}


@import"../node_modules/bootstrap/scss/bootstrap";
